<span class="section-title">Date Filter:</span>
<div class="filter-input-container">
  <input
    [min]="(dateFilter$ | async).min"
    [max]="(dateFilter$ | async).max"
    class="filter-input"
    [matDatepicker]="picker"
    [value]="(dateFilter$ | async).date"
    (dateChange)="onDateChange($event.target.value)"
  />
  <mat-datepicker-toggle class="filter-toggle" [for]="picker">
    <fa-icon
      class="filter-toggle-icon"
      matDatepickerToggleIcon
      [icon]="faCalendar"
    ></fa-icon>
  </mat-datepicker-toggle>
</div>
<mat-datepicker #picker></mat-datepicker>
