.cat-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.cat-item {
  padding: 13px 15px;
  background: #f4f4f4;
  color: #344072;
  min-width: 120px;
  text-align: center;
  font-size: 13px;
  border-right: 1px solid #c4c4c4;
  cursor: pointer;
  text-transform: uppercase;
}

.cat-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.cat-item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: none;
}

.cat-item--selected {
  color: #01b1e6;
  cursor: default;
  font-weight: 500;
}
