<span class="section-title">Column filter:</span>
<div class="columns-contaier">
  <div
    *ngFor="let col of allColumns"
    [ngClass]="{
      'column-filter': true,
      'column-filter-active':
        (columnFilterArray$ | async).indexOf(col.value) > -1,
      'column-filter-inactive':
        (columnFilterArray$ | async).indexOf(col.value) === -1
    }"
    (click)="toggleColumn(col.value)"
  >
    <span
      style="padding-right: 5px"
      *ngIf="(columnFilterArray$ | async).indexOf(col.value) === -1"
      >+</span
    >
    {{ col.title }}
    <span
      style="padding-left: 5px"
      *ngIf="(columnFilterArray$ | async).indexOf(col.value) > -1"
      >x</span
    >
  </div>
</div>
<table>
  <thead>
    <tr>
      <th *ngFor="let column of tableColumns" (click)="onSort(column.accessor)">
        <div>
          <span>{{ column.title }}</span>
          <ng-template [ngIf]="column.sortable">
            <small
              style="padding-left: 5px"
              *ngIf="column.accessor !== (sortObject$ | async).orderBy"
              >s</small
            >
            <small
              style="padding-left: 5px"
              *ngIf="
                (sortObject$ | async).order === 1 &&
                (sortObject$ | async).orderBy === column.accessor
              "
              >asc</small
            >
            <small
              style="padding-left: 5px"
              *ngIf="
                (sortObject$ | async).order === -1 &&
                (sortObject$ | async).orderBy === column.accessor
              "
              >desc</small
            >
          </ng-template>
        </div>
      </th>
    </tr>
  </thead>
</table>
